.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  height: 100vh;
  align-items: center;
  background: rgb(255,246,0);
  background: linear-gradient(0deg, rgba(255,246,0,0.9150253851540616) 0%, rgba(255,133,179,1) 100%);
  /* display: block; */
}

/* .inner-background {
  background: white;
  width: 50vh;
  margin: auto;
  margin-top: 100px;
} */

form {
  padding-top: 200px;
}